/Lib/*
/Include/*
/etc/*
/.vscode*
/start.bat
/10082_8139.zip
Lib/site-packages/pip/_internal/__pycache__/wheel_builder.cpython-311.pyc
Scripts/activate
Scripts/activate.bat
Scripts/Activate.ps1
Scripts/deactivate.bat
Scripts/f2py.exe
Scripts/fonttools.exe
Scripts/httpx.exe
Scripts/jsonschema.exe
Scripts/markdown-it.exe
Scripts/normalizer.exe
Scripts/pip.exe
Scripts/pip3.11.exe
Scripts/pip3.exe
Scripts/pydicom.exe
Scripts/pyftmerge.exe
Scripts/pyftsubset.exe
Scripts/pygmentize.exe
Scripts/python.exe
Scripts/pythonw.exe
Scripts/streamlit.cmd
Scripts/streamlit.exe
Scripts/ttx.exe
Scripts/watchmedo.exe
